 <div class="user-details">
  <img src="assets/img/avatar.png" alt="Avatar">
  <p> My friends call me Cassey. I'm a data junkie obsessed with the intersection of information and social advocacy. I believe responsible scientific inquiry is conscientious and acknowledges inherent systems of oppression. By leveraging and examining data through a sociopolitical lens, I hope to  empower and amplify marginalized voices and develop community-centric solutions that promote social wellbeing. </p>
</div>

  <div class="user">
    <div class="tech">
      <h2>Skills</h2>
      <img src="https://img.icons8.com/dusk/50/000000/bullish.png"/>
      <img src="https://img.icons8.com/dusk/50/000000/survey.png"/>
      <img src="https://img.icons8.com/dusk/50/000000/microscope.png"/>
      <p> Data Analysis | Survey Development | Research </p>
    </div>
    <div class="tech">
      <h2>Perspective</h2>
      <img src="https://img.icons8.com/dusk/50/000000/people-working-together.png"/>
      <img src="https://img.icons8.com/dusk/50/000000/venn-diagram.png"/>
      <img src="https://img.icons8.com/dusk/50/000000/welfare.png"/>
      <p> Collaboration | Intersectionality | Empathy </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <img src="https://img.icons8.com/dusk/50/000000/python.png"/>
      <img src="https://img.icons8.com/dusk/50/000000/r.png"/>
      <img src="https://img.icons8.com/dusk/50/000000/ms-excel.png"/>
      <p> Python | R | Microsoft Excel </p>
    </div>
</div>
