<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Email" href="mailto:bcchap@ucdavis.edu"><img src="https://img.icons8.com/dusk/96/000000/apple-mail.png"/></a>
        <a aria-label="Github" target="_blank" href="https://github.com/bcchap"><img src="https://img.icons8.com/dusk/96/000000/github.png"/></a>
        <a aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/in/bcchap/"><img src="https://img.icons8.com/dusk/96/000000/linkedin.png"/></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
