<div class="user-details">
  <h1> School Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="infvsfin" src="https://bcchap.github.io/school-assignment-images/infvsfin.png"/>
  </div>
  <div class="contents">
    <h3> Schroedinger's Equation </h3>
    <p> The behavior of a particle confined to a 1-dimensional potential well can be determined by solving Schroedinger's Equation, a transcendental function. By doing so, we can find all possible energy levels (i.e, their quantized states), their corresponding wave functions, and compare our experimental results to what is expected theoretically for a particle confined to an infinite potential well. </p>
    <a class="project-link" href="https://github.com/bcchap/school-assignments/blob/computational-physics/computational-physics/schro-eq/shroq-eq-report.pdf">Full Report Here</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
