<div class="user-details">
  <h1> School Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img src="{{ "/assets/img_school_proj/infvsfin.png" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-left">
    <h3> Schroedinger's Equation </h3>
    <p> The behavior of a particle confined to a 1-dimensional potential well can be determined by solving Schroedinger's Equation, a transcendental function.
      By doing so, we can find all possible energy levels (i.e, their quantized states),
      their corresponding wave functions,
      and compare our experimental results to what is expected theoretically for a particle confined to an infinite potential well. </p>
    <a class="project-link" href="https://github.com/bcchap/school-assignments/blob/computational-physics/computational-physics/schro-eq/shroq-eq-report.pdf">Full Report Here</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img_school_proj/hermpoly.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Hermite Polynomials and the Simple Harmonic Oscillator </h3>
    <p> A one dimensional harmonic oscillator can be used to represent a variety of fundamental concepts within physics.
    However, a particle independent of the environment with entirely discrete energy levels is unrealistic.
    In quantum mechanics, the simple harmonic oscillator describes a limiting case of particle interaction.
    In this project, we generate Hermite polynomials to solve for the eigenvalues of the time-independent Shroedinger Equation,
    determine the various energy levels depending on quantization state,
    and examine the limit of the Hermite Polynomials ability to describe the oscillator with increasing energy levels. </p>
    <a class="project-link" href="https://github.com/bcchap/school-assignments/blob/computational-physics/computational-physics/hermite-poly/hermite-polynomials-report.pdf">Full Report Here</a>
  </div>
</div>
