<div class="user-details">
  <h1> School Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img src="{{ "/assets/img_school_proj/infvsfin.png" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-left">
    <h3> Schroedinger's Equation </h3>
    <p> The behavior of a particle confined to a 1-dimensional potential well can be determined by solving Schroedinger's Equation, a transcendental function.
      By doing so, we can find all possible energy levels (i.e, their quantized states),
      their corresponding wave functions,
      and compare our experimental results to what is expected theoretically for a particle confined to an infinite potential well. </p>
    <a class="project-link" href="https://github.com/bcchap/school-assignments/blob/computational-physics/computational-physics/schro-eq/shroq-eq-report.pdf">Full Report Here</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img_school_proj/hermpoly.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Hermite Polynomials and the Simple Harmonic Oscillator </h3>
    <p> A one dimensional harmonic oscillator can be used to represent a variety of fundamental concepts within physics.
    However, a particle independent of the environment with entirely discrete energy levels is unrealistic.
    In quantum mechanics, the simple harmonic oscillator describes a limiting case of particle interaction.
    In this project, we generate Hermite polynomials to solve for the eigenvalues of the time-independent Shroedinger Equation,
    determine the various energy levels depending on quantization state,
    and examine the limit of the Hermite Polynomials ability to describe the oscillator with increasing energy levels. </p>
    <a class="project-link" href="https://github.com/bcchap/school-assignments/blob/computational-physics/computational-physics/hermite-poly/hermite-polynomials-report.pdf">Full Report Here</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img src="{{ "/assets/img_school_proj/NPF.png" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-left">
    <h3> The Monte Carlo Method </h3>
    <p> The Monte Carlo integration technique does not require evenly spaced evaluation points of the function.
    This is especially useful for multi-dimensional and select types of improper integrals.
    Rather than utilizing predetermined points prior to integration,
    the Monte Carlo method takes a random sampling of points within an interval where all points have equal probability of occurring.
    Utilizing this technique, it is possible to solve 1-D, 3-D, and improper integrals with integrable singularities by increasing the number of random points generated. </p>
    <a class="project-link" href="https://github.com/bcchap/school-assignments/blob/computational-physics/computational-physics/monte-carlo/monte-carlo-report.pdf">Full Report Here</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img_school_proj/n500mic.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> The Central Limit Theorem & Methods of Least Squares </h3>
    <p> In this project we use the Central Limit Theorem to explore various statistical distributions of data and how the method of least squares can be used to fit functions to observed data with associated uncertainties.
       The Central Limit Theorem states that the sum of indepenent normalized random variables tends towards a normal distribution regardless of the inital distribution of the sample.
       It is possibel to prove this by comparing various sample and summed distributions to a normal distribution. </p>
    <a class="project-link" href="https://github.com/bcchap/school-assignments/blob/computational-physics/computational-physics/central-limit/central-limit-theorem-a-b-report.pdf">Full Report (Part 1) Here</a>
    <a class="project-link" href="https://github.com/bcchap/school-assignments/blob/computational-physics/computational-physics/central-limit/central-limit-theorem-c-d-report.pdf">Full Report (Part 2) Here</a>
  </div>
</div>
